 * {
    margin: 0px;
    padding: 0px;
}       
.header-container{
    background-color: rgba(229, 84, 115, 0.10);;
    height: 300px;
    display: flex;
    justify-content:space-around;
    
}
#header-img{
    max-width: 100%;
    height:272px;
    padding-top: 28px;
    
}
.header-text{
    padding-top: 60px;
}
#header-button{
    padding: 8px 15px;
    align-items: center;
    gap:3px;
    border: #E55473;
    border-radius: 4px;
    background: #E55473;
    color:white;
}
#header-para{
    font-size: 9px;
    font-weight: 400px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.section-2{
    margin-top: 50px;
    text-align:center;
}
#section-2{
    margin-top: 10px;
    font-size: 9px;
    font-weight: 400px;
}
.Box1{
    width: 170px;
    height: 200px;
    background-color:rgba(167, 33, 98, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.Box2{
    width: 170px;
    height: 200px;
    background-color:rgba(5, 151, 160, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.Box3{
    width: 170px;
    height: 200px;
    background-color:rgba(71, 125, 17, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.img-1{
    width: 140px;
    height: 200px;
   
}
.img-2{
    width: 140px;
    height: 200px;
    
}
.img-3{
    width: 140px;
    height: 200px;
   
    
}
.box-container{
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 35px;
    gap: 20px;  
}
.caption{
    color:black;
    text-align:center;
    text-decoration: underline;
    font-size: small;
}
.section-3container{
    background:rgba(39, 39, 39, 0.05);
    height: 200px;
    width: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    border-radius: 4px;
    margin-bottom: 0px;
    margin-left: 150px;
    margin-right: 150px;

}
.section-3caption{
    color:black;
    font-size: 6px;
    text-align:center;
}
.hotdeal-container{
    display: flex;
    justify-content:space-around;
    background-color: rgba(229, 84, 115, 0.05);
    width: auto;
    height: 280px;
    margin-bottom: 20px;
    margin-top: -70px;
}
.hotdeal-text{
    padding-top: 80px;
    text-align: center;
    position:relative;
}
#hotdeal-button{
        padding: 8px 15px;
        align-items: center;
        gap:3px;
        border: #E55473;
        border-radius: 4px;
        background: #E55473;
        color:white;
}
#hotdeal-img{
    width: 200px;
    height: 280px;
    
}